<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stronka home</title>
</head>
<body>
    <h1>Home page</h1>
    <p th:text="'hello ' + ${user}">Przemek</p>
    <a href="person">person</a>
<!--    <a href="#" th:href="@{/category/all}">Kategorie</a>-->
<!--    <a href="#" th:href="@{/category/all}">Wydatki</a>-->
<!--    <a href="#" th:href="@{/category/all}">Przychody</a>-->
<!--    <a href="#" th:href="@{/category/all}">Import/eksport</a>-->
</body>
</html>